* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    background-color: rgb(241, 241, 255);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color:darkred;
}

.header{
    display:grid;
    justify-content:center;
    height: 25%;

}

img{
    background-repeat: repeat;


}

.navbar{

    display:block;
    
}

.flexContainer{
    display:flex;
}

.row1{
    background-color: skyblue;
    width:35%;
    padding:20px;
    margin:20px;
    border:5px
   
}

.row2{
    background-color: skyblue;
    padding:20px;
    margin:20px;
    border:5px
   
     
}
